<nb-card size="large">
    <div class="chart-container">
        <div class="chart-header">
            <div class="header-stats">
                <div class="stats-block">
                    <div class="subtitle">BTC BALANCE</div>
                    <div>
                        <span class="value">816</span>
                        <span class="unit">BTC</span>
                    </div>
                </div>

                <div class="stats-block">
                    <div class="subtitle">USD BALANCE</div>
                    <div>
                        <span class="value">291</span>
                        <span class="unit">USD</span>
                    </div>
                </div>
            </div>

        </div>
        <ngx-electricity-chart></ngx-electricity-chart>
    </div>
</nb-card>